In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [3]:
dataset=pd.read_csv('E:\MACHINE LEARNING\churn_data.csv')

In [5]:
len(dataset.columns)

31

In [6]:
dataset.columns

Index(['user', 'churn', 'age', 'housing', 'credit_score', 'deposits',
       'withdrawal', 'purchases_partners', 'purchases', 'cc_taken',
       'cc_recommended', 'cc_disliked', 'cc_liked', 'cc_application_begin',
       'app_downloaded', 'web_user', 'app_web_user', 'ios_user',
       'android_user', 'registered_phones', 'payment_type', 'waiting_4_loan',
       'cancelled_loan', 'received_loan', 'rejected_loan', 'zodiac_sign',
       'left_for_two_month_plus', 'left_for_one_month', 'rewards_earned',
       'reward_rate', 'is_referred'],
      dtype='object')

In [8]:
dataset.isna().any()

user                       False
churn                      False
age                         True
housing                    False
credit_score                True
deposits                   False
withdrawal                 False
purchases_partners         False
purchases                  False
cc_taken                   False
cc_recommended             False
cc_disliked                False
cc_liked                   False
cc_application_begin       False
app_downloaded             False
web_user                   False
app_web_user               False
ios_user                   False
android_user               False
registered_phones          False
payment_type               False
waiting_4_loan             False
cancelled_loan             False
received_loan              False
rejected_loan              False
zodiac_sign                False
left_for_two_month_plus    False
left_for_one_month         False
rewards_earned              True
reward_rate                False
is_referred                False
dtype: bool

In [10]:
dataset.isna().sum()

user                          0
churn                         0
age                           4
housing                       0
credit_score               8031
deposits                      0
withdrawal                    0
purchases_partners            0
purchases                     0
cc_taken                      0
cc_recommended                0
cc_disliked                   0
cc_liked                      0
cc_application_begin          0
app_downloaded                0
web_user                      0
app_web_user                  0
ios_user                      0
android_user                  0
registered_phones             0
payment_type                  0
waiting_4_loan                0
cancelled_loan                0
received_loan                 0
rejected_loan                 0
zodiac_sign                   0
left_for_two_month_plus       0
left_for_one_month            0
rewards_earned             3227
reward_rate                   0
is_referred                   0
dtype: int64

In [38]:
data_with_mean = dataset.fillna(dataset.mean())

In [12]:
dataset.head()

,user,churn,age,housing,credit_score,deposits,withdrawal,purchases_partners,purchases,cc_taken,...,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,zodiac_sign,left_for_two_month_plus,left_for_one_month,rewards_earned,reward_rate,is_referred
0,55409,0,37.0,na,NaN,0,0,0,0,0,...,0,0,0,0,Leo,1,0,NaN,0.00,0
1,23547,0,28.0,R,486.0,0,0,1,0,0,...,0,0,0,0,Leo,0,0,44.0,1.47,1
2,58313,0,35.0,R,561.0,47,2,86,47,0,...,0,0,0,0,Capricorn,1,0,65.0,2.17,0
3,8095,0,26.0,R,567.0,26,3,38,25,0,...,0,0,0,0,Capricorn,0,0,33.0,1.10,1
4,61353,1,27.0,na,NaN,0,0,2,0,0,...,0,0,0,0,Aries,1,0,1.0,0.03,0

In [13]:
data_with_mean.head()

,user,churn,age,housing,credit_score,deposits,withdrawal,purchases_partners,purchases,cc_taken,...,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,zodiac_sign,left_for_two_month_plus,left_for_one_month,rewards_earned,reward_rate,is_referred
0,55409,0,37.0,na,542.944225,0,0,0,0,0,...,0,0,0,0,Leo,1,0,29.110125,0.00,0
1,23547,0,28.0,R,486.000000,0,0,1,0,0,...,0,0,0,0,Leo,0,0,44.000000,1.47,1
2,58313,0,35.0,R,561.000000,47,2,86,47,0,...,0,0,0,0,Capricorn,1,0,65.000000,2.17,0
3,8095,0,26.0,R,567.000000,26,3,38,25,0,...,0,0,0,0,Capricorn,0,0,33.000000,1.10,1
4,61353,1,27.0,na,542.944225,0,0,2,0,0,...,0,0,0,0,Aries,1,0,1.000000,0.03,0

In [14]:
data_with_median = dataset.fillna(dataset.median())

In [15]:
data_with_median.head()

,user,churn,age,housing,credit_score,deposits,withdrawal,purchases_partners,purchases,cc_taken,...,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,zodiac_sign,left_for_two_month_plus,left_for_one_month,rewards_earned,reward_rate,is_referred
0,55409,0,37.0,na,542.0,0,0,0,0,0,...,0,0,0,0,Leo,1,0,25.0,0.00,0
1,23547,0,28.0,R,486.0,0,0,1,0,0,...,0,0,0,0,Leo,0,0,44.0,1.47,1
2,58313,0,35.0,R,561.0,47,2,86,47,0,...,0,0,0,0,Capricorn,1,0,65.0,2.17,0
3,8095,0,26.0,R,567.0,26,3,38,25,0,...,0,0,0,0,Capricorn,0,0,33.0,1.10,1
4,61353,1,27.0,na,542.0,0,0,2,0,0,...,0,0,0,0,Aries,1,0,1.0,0.03,0

In [159]:
data_with_mode = dataset.fillna(dataset.mode())

In [17]:
data_with_mode.head()

,user,churn,age,housing,credit_score,deposits,withdrawal,purchases_partners,purchases,cc_taken,...,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,zodiac_sign,left_for_two_month_plus,left_for_one_month,rewards_earned,reward_rate,is_referred
0,55409,0,37.0,na,526.0,0,0,0,0,0,...,0,0,0,0,Leo,1,0,2.0,0.00,0
1,23547,0,28.0,R,486.0,0,0,1,0,0,...,0,0,0,0,Leo,0,0,44.0,1.47,1
2,58313,0,35.0,R,561.0,47,2,86,47,0,...,0,0,0,0,Capricorn,1,0,65.0,2.17,0
3,8095,0,26.0,R,567.0,26,3,38,25,0,...,0,0,0,0,Capricorn,0,0,33.0,1.10,1
4,61353,1,27.0,na,NaN,0,0,2,0,0,...,0,0,0,0,Aries,1,0,1.0,0.03,0

In [20]:
data_without_nan = dataset.drop(columns=['credit_score'])

In [21]:
data_without_nan.isna().sum()

user                          0
churn                         0
age                           4
housing                       0
deposits                      0
withdrawal                    0
purchases_partners            0
purchases                     0
cc_taken                      0
cc_recommended                0
cc_disliked                   0
cc_liked                      0
cc_application_begin          0
app_downloaded                0
web_user                      0
app_web_user                  0
ios_user                      0
android_user                  0
registered_phones             0
payment_type                  0
waiting_4_loan                0
cancelled_loan                0
received_loan                 0
rejected_loan                 0
zodiac_sign                   0
left_for_two_month_plus       0
left_for_one_month            0
rewards_earned             3227
reward_rate                   0
is_referred                   0
dtype: int64

In [22]:
data_without_nan = data_without_nan[pd.notnull(data_without_nan['age'])]

In [25]:
data_without_nan = data_without_nan[pd.notnull(data_without_nan['rewards_earned'])]

In [28]:
data_without_nan = pd.get_dummies(data_without_nan)

In [30]:
data_without_nan = data_without_nan.drop(columns=['housing_na','payment_type_na','zodiac_sign_na'])

In [31]:
len(data_without_nan.columns)

45

In [33]:
data_with_mode=pd.get_dummies(data_with_mode)

In [34]:
data_with_mode=data_with_mode.drop(columns=['housing_na','payment_type_na','zodiac_sign_na'])

In [40]:
data_with_mean = pd.get_dummies(data_with_mean)

In [41]:
data_with_mean = data_with_mean.drop(columns=['housing_na','payment_type_na','zodiac_sign_na'])

In [45]:
len(data_with_mean.columns)

46

In [46]:
len(data_without_nan)

23773

In [99]:
len(data_with_mean)

27000

In [109]:
from sklearn import preprocessing

In [123]:
user = data_without_nan['user']
data_without_nan=data_without_nan.drop(columns=['user'],axis=1)
churn = data_without_nan['churn']
data_without_nan=data_without_nan.drop(columns=['churn'],axis=1)
print(data_without_nan.head())
normalized_data_without_nan = preprocessing.normalize(data_without_nan)

    age  deposits  withdrawal  purchases_partners  purchases  cc_taken  \
1  28.0         0           0                   1          0         0
2  35.0        47           2                  86         47         0
3  26.0        26           3                  38         25         0
4  27.0         0           0                   2          0         0
5  32.0         5           3                 111          5         0

   cc_recommended  cc_disliked  cc_liked  cc_application_begin  \
1              96            0         0                     5
2             285            0         0                     9
3              74            0         0                    26
4               0            0         0                     0
5             227            0         0                    17

         ...          zodiac_sign_Cancer  zodiac_sign_Capricorn  \
1        ...                           0                      0
2        ...                           0                      1
3        ...                           0                      1
4        ...                           0                      0
5        ...                           0                      0

   zodiac_sign_Gemini  zodiac_sign_Leo  zodiac_sign_Libra  zodiac_sign_Pisces  \
1                   0                1                  0                   0
2                   0                0                  0                   0
3                   0                0                  0                   0
4                   0                0                  0                   0
5                   0                0                  0                   0

   zodiac_sign_Sagittarius  zodiac_sign_Scorpio  zodiac_sign_Taurus  \
1                        0                    0                   0
2                        0                    0                   0
3                        0                    0                   0
4                        0                    0                   0
5                        0                    0                   1

   zodiac_sign_Virgo
1                  0
2                  0
3                  0
4                  0
5                  0

[5 rows x 43 columns]

In [113]:
from sklearn.decomposition import PCA

In [124]:
normalized_data_without_nan.shape

(23773, 43)

In [125]:
pca = PCA(n_components=0.999, svd_solver='full')
pca.fit(normalized_data_without_nan)
pca_data=pca.transform(normalized_data_without_nan)

In [196]:
pca_data.shape

(27000, 24)

In [142]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(pca_data, churn, test_size=0.10, random_state=0)

In [150]:
from sklearn.linear_model import LogisticRegressionCV

In [192]:
lr = LogisticRegressionCV(max_iter=10000)

In [193]:
lr.fit(x_train, y_train)

C:\anaconda\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

LogisticRegressionCV(Cs=10, class_weight=None, cv='warn', dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=10000,
           multi_class='warn', n_jobs=None, penalty='l2',
           random_state=None, refit=True, scoring=None, solver='lbfgs',
           tol=0.0001, verbose=0)

In [194]:
predictions = lr.predict(x_test)

In [195]:
score = lr.score(x_test, y_test)
print(score)

0.6403703703703704

In [185]:
lr.coef_

array([[-3.31790057e+00, -9.49602289e+00, -1.68752561e+00,
        -2.31699646e+00,  5.40848011e+00,  7.16603348e+00,
        -1.16366452e+00,  6.88249947e+01,  4.24810249e+00,
        -6.91825814e+00,  6.80270645e+01, -3.78206566e+01,
        -2.10440601e+01,  3.36429196e+01,  5.47926985e+00,
         2.23490474e+01,  1.67813520e+01, -3.71815790e+01,
        -8.88640891e+00,  8.96738210e+00,  2.35828203e+00,
         8.18614779e-03,  6.34516681e+00,  2.88246715e+00]])

In [169]:
churn = data_with_mean['churn']
user = data_with_mean['user']
data_with_mean = data_with_mean.drop(columns=['user','churn'])
normalized_data_with_mean = preprocessing.normalize(data_with_mean)

In [197]:
pca = PCA(n_components=0.9999, svd_solver='full')
pca.fit(normalized_data_with_mean)
pca_data=pca.transform(normalized_data_with_mean)
print(pca_data.shape)

(27000, 24)

In [198]:
x_train, x_test, y_train, y_test = train_test_split(pca_data, churn, test_size=0.10, random_state=0)

In [199]:

lr.fit(x_train, y_train)

C:\anaconda\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

LogisticRegressionCV(Cs=10, class_weight=None, cv='warn', dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=10000,
           multi_class='warn', n_jobs=None, penalty='l2',
           random_state=None, refit=True, scoring=None, solver='lbfgs',
           tol=0.0001, verbose=0)

In [200]:
predictions = lr.predict(x_test)
score = lr.score(x_test, y_test)
print(score)
print(lr.coef_)

0.6403703703703704
[[-3.31790057e+00 -9.49602289e+00 -1.68752561e+00 -2.31699646e+00
   5.40848011e+00  7.16603348e+00 -1.16366452e+00  6.88249947e+01
   4.24810249e+00 -6.91825814e+00  6.80270645e+01 -3.78206566e+01
  -2.10440601e+01  3.36429196e+01  5.47926985e+00  2.23490474e+01
   1.67813520e+01 -3.71815790e+01 -8.88640891e+00  8.96738210e+00
   2.35828203e+00  8.18614779e-03  6.34516681e+00  2.88246715e+00]]

In [204]:
churn = data_with_median['churn']
user = data_with_median['user']
data_with_median = data_with_median.drop(columns=['user','churn'])

In [205]:
data_with_median.shape

(27000, 29)